h1 {
    text-align: center;
    text-shadow: steelblue;
    font-size: 50px;
}
.paragraph {
    text-align: center;
    font-size : 30px ;
    font-family: fantasy;
    
}
body {
    background-image: url("Images/ghana.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-style: italic;
    text-align: center;
    background-color: cadetblue;
}
.box {
    border-left: 2px solid black;
    border-right: 4px solid black;
    border-top: 6px solid black;
    border-bottom: 8px solid black;
    padding: 6px;
}
h3 {
    font-size: 30px;
}